@charset "ISO-8859-1";
body {
  font-family: 'Arial', sans-serif;
}

.card {
  background-color: #fff;
  border: none;
}

.btn-primary {
  background-color: #007bff;
  border: none;
  transition: all 0.3s ease;
}

.btn-primary:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

input:focus {
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  border-color: #007bff;
}

#errorMsg {
  font-weight: bold;
}
