<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>UpwardIQ Navbar</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="topnav.css" th:href="@{/css/topnav.css}"/>
</head>
<body>
<header th:fragment="topnav">
    <nav class="navbar navbar-expand-lg navbar-logo">
        <!-- Logo or branding content -->
      
        <!-- Spacer to align items to the right -->
        <div class="ms-auto">
            <a href="#" class="btn btn-primary" onclick="confirmLogout(event)">Logout</a>
        </div>
    </nav>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>

    <script>
        function confirmLogout(event) {
            event.preventDefault();  // Prevents the default link behavior
            const confirmLogout = window.confirm("Do you want to logout?");
            if (confirmLogout) {
                // Redirect to the logout page if the user confirms
                window.location.href = "logout";
            } else {
                // If the user clicks "No", stay on the same page
                return;
            }
        }
    </script>
</header>
</body>
</html>
